* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 15px 0;
    background-color: transparent;
    .header__inner {
        padding: 0 44px;

        .header__columns {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .header__logo-items {
                display: flex;
                justify-content: flex-start;

                .header__eng {
                    margin-left: 2.563em;
                    margin-right: 1.313em;
                    align-self: center;
                    text-decoration: none;
                    color: #000032;
                }
                .header__rus {
                    margin-right: 1.313em;
                    align-self: center;
                    color: #000032;
                    text-decoration: none;
                }
            }
        }
        .header__info-items {
            display: flex;
            .header__number {
                margin-right: 3em;
                align-self: center;
                color: #000032;
                font-size: 20px;
                text-decoration: none;
                cursor: pointer;
            }
            .header__consult {
                margin-right: 50px;
                margin-top: 10px;
                .btn {
                    display: inline-block;
                    padding: 10px 40px;
                    position: relative;
                    border: 1px solid grey;
                    border-radius: 67px;
                    background-color: transparent;
                    color: #000032;
                    cursor: pointer;
                    font-size: 15px;
                    line-height: 38px;
                    letter-spacing: 0.1em;
                    text-align: center;
                }
            }
            /* скрываем чекбокс */
            #menu__toggle {
                opacity: 0;
            }

            /* стилизуем кнопку */
            .menu__btn {
                display: flex; /* используем flex для центрирования содержимого */
                align-items: center; /* центрируем содержимое кнопки */
                position: fixed;
                top: 30px;
                right: 4em;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 1;
                width: 36px;
            }
            .menu__image {
                position: relative;
                right: 20px;
                top: 5px;
            }
            /* добавляем "гамбургер" */
            .menu__btn > span,
            .menu__btn > span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #000032;
            }

            .menu__btn > span::after {
                content: "";
                top: 8px;
                width: 80%;
            }

            /* контейнер меню */
            .menu__box {
                display: flex;
                justify-content: center;
                position: fixed;
                visibility: hidden;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 8.5em 0;
                list-style: none;
                background-image: url(/assets/images/imgHeader/news-background.png);
                opacity: 1;
                box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            }

            /* элементы меню */
            .menu__item {
                display: block;

                padding: 12px 24px;
                color: rgba(255, 255, 255, 0.4);
                font-family: "PT Mono", monospace;
                font-size: 50px;
                font-weight: 600;
                text-decoration: none;
                sup {
                    margin: 20px;
                }
                .menu__columns {
                    background-image: url(/assets/style/imagesHeader/Vector.png);
                }
            }

            .menu__item:hover {
                color: #ffffff;
            }

            #menu__toggle:checked ~ .menu__btn > span {
                transform: rotate(45deg);
            }

            #menu__toggle:checked ~ .menu__btn > span::after {
                top: 0;
                transform: rotate(90deg);
                width: 100%;
            }

            #menu__toggle:checked ~ .menu__box {
                visibility: visible;
                left: 0;
            }
        }
    }
}
.consult {
    margin: 11% 10% 4% 15%;

    .consult__inner {
        .consult__title {
            width: 20%;
            font-size: 55px;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 110%;
            color: #000032;
            margin-bottom: 2%;
        }
        .consult__subtitle {
            width: 50%;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            color: #000032;
        }
    }
    .consult__form {
        margin-top: 6%;
        .consult__form-flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            #name,
            #number,
            #email {
                font-size: 20px;
            }
            input[type="text"],
            input[type="number"],
            input[type="email"] {
                border: transparent;
                color: #000032;
            }
            .consult__name:after,
            .consult__number:after,
            .consult__email::after {
                content: "";
                margin-top: 5%;
                display: block;
                height: 1px;
                background: rgba(0, 0, 50, 0.4);
            }
            input[type="text"]:focus,
            input[type="number"]:focus,
            input[type="email"]:focus {
                outline: none;
            }

            .consult__label::after {
                color: red;
                content: "*";
                position: relative;
                bottom: 10px;
            }
            ::-webkit-input-placeholder {
                color: #000032;
                font-weight: 400;
                font-size: 20px;
                line-height: 130%;
            }
        }
        .consult__task::after {
            content: "";
            margin-top: 2%;
            display: block;
            height: 1px;
            background: rgba(0, 0, 50, 0.4);
        }
        input[type="text"]:focus {
            outline: none;
        }
    }
    #task {
        font-size: 20px;
        width: 100%;
        border: transparent;
        color: #000032;
    }

    .consult__checkbox {
        margin-top: 5%;

        /* прячем input checkbox */
        input[type="checkbox"] {
            display: none;
        }

        /* стили для метки */
        label {
            color: #000032;
            cursor: pointer;
            font-weight: normal;
            line-height: 30px;
            font-size: 20px;
            padding: 10px 0;
        }

        /* формируем внешний вид чекбокса в псевдоэлементе before */
        label:before {
            content: " ";
            color: #000;
            display: inline-block;
            margin-right: 15px;
            text-align: center;
            width: 20px;
            height: 20px;
            background: #fff;
            border: 1px solid #e3e3e3;
            vertical-align: middle;
        }

        /* вариации внешнего вида в зав-ти от статуса checkbox */
        /* checked */
        input:checked + label:before {
            content: "";
            background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
            background-image: url(/assets/images/imgHeader/checked.png);
            background-repeat: no-repeat;
        }
        .agree__link {
            color: #000032;
            cursor: pointer;
        }
    }
    .consult__send {
        margin-top: 5%;
        padding: 2% 5%;
        background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
        border-radius: 67px;

        color: #ffffff;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        line-height: 97%;
        letter-spacing: 0.1em;
        cursor: pointer;
    }
}

.consult__footer {
    margin: 0 0 0 5%;
    .consult__footer-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
    }
}
