* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  padding: 15px 0;
}
.header .header__inner {
  padding: 0 44px;
}
.header .header__inner .header__columns {
  display: flex;
  justify-content: space-between;
  padding-right: 44px;
}
.header .header__inner .header__columns .header__logo-items {
  display: flex;
  justify-content: flex-start;
}
.header .header__inner .header__columns .header__logo-items .header__eng {
  margin-left: 2.563em;
  margin-right: 1.313em;
  align-self: center;
  text-decoration: none;
}
.header .header__inner .header__columns .header__logo-items .header__rus {
  margin-right: 1.313em;
  align-self: center;
  text-decoration: none;
}
.header .header__inner .header__info-items {
  display: flex;
}
.header .header__inner .header__info-items .header__number {
  margin-right: 3em;
  align-self: center;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: "PT Mono", monospace;
}
.header .header__inner .header__info-items .header__consult {
  margin-right: 50px;
  margin-top: 10px;
  padding-right: 93px;
}
.header .header__inner .header__info-items .header__consult .btn {
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  border-radius: 67px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: center;
}
.header .header__inner .header__info-items .header__consult .btn:hover {
  color: #5e1ec6;
}
.header .header__inner .header__info-items #menu__toggle {
  opacity: 0;
}
.header .header__inner .header__info-items .menu__btn {
  display: flex;
  align-items: center;
  width: 36px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .header__inner .header__info-items .menu__image {
  position: relative;
  right: 20px;
  top: 5px;
}
.header .header__inner .header__info-items .menu__btn > span,
.header .header__inner .header__info-items .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 36px;
  height: 2px;
}
.header .header__inner .header__info-items .menu__btn > span::after {
  content: "";
  top: 8px;
  width: 80%;
}
.header .header__inner .header__info-items .menu__box {
  display: flex;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 5em 0;
  list-style: none;
  background-image: url(../../images/imgHeader/news-background.png);
  background-size: cover;
  opacity: 1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.header .header__inner .header__info-items .menu__item {
  display: block;
  padding: 12px 24px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "PT Mono", monospace;
  font-size: 45px;
  font-weight: 600;
  text-decoration: none;
}
.header .header__inner .header__info-items .menu__item sup {
  margin: 20px;
}
.header .header__inner .header__info-items .menu__item .menu__columns {
  background-image: url(/assets/style/imagesHeader/Vector.png);
}
.header .header__inner .header__info-items .menu__item:hover {
  color: #ffffff;
}
.header .header__inner .header__info-items #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.header .header__inner .header__info-items #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
}
.header .header__inner .header__info-items #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  background-color: transparent;
}
.header .header__eng,
.header .header__rus {
  color: #000032;
}
.header .header__number {
  color: #000032;
}
.header .btn {
  color: #000032;
  border: 1px solid grey;
}
.header .menu__btn > span,
.header .menu__btn > span::after {
  background-color: #000032;
}
.header .menu__btn {
  position: relative;
  top: 0;
}

.main {
  margin: 0% 0% 5% 0%;
}
.main .news-inner__go-back {
  margin: 10% 2% 0% 5%;
}
.main .consult {
  margin: 0% 10% 2% 15%;
}
.main .consult .consult__inner .consult__title {
  width: 20%;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 110%;
  color: #000032;
  margin-bottom: 2%;
}
.main .consult .consult__inner .consult__subtitle {
  width: 35%;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #000032;
}
.main .consult .consult__form {
  margin-top: 6%;
  width: 80%;
}
.main .consult .consult__form .consult__form-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main .consult .consult__form .consult__form-flex #name,
.main .consult .consult__form .consult__form-flex #number,
.main .consult .consult__form .consult__form-flex #email {
  font-size: 16px;
}
.main .consult .consult__form .consult__form-flex input[type=text],
.main .consult .consult__form .consult__form-flex input[type=number],
.main .consult .consult__form .consult__form-flex input[type=email] {
  border: transparent;
  color: #000032;
  font-size: 16px;
}
.main .consult .consult__form .consult__form-flex .consult__name:after,
.main .consult .consult__form .consult__form-flex .consult__number:after,
.main .consult .consult__form .consult__form-flex .consult__email::after {
  content: "";
  margin-top: 5%;
  display: block;
  height: 1px;
  background: rgba(0, 0, 50, 0.4);
}
.main .consult .consult__form .consult__form-flex input[type=text]:focus,
.main .consult .consult__form .consult__form-flex input[type=number]:focus,
.main .consult .consult__form .consult__form-flex input[type=email]:focus {
  outline: none;
}
.main .consult .consult__form .consult__form-flex .consult__label::after {
  color: red;
  content: "*";
  position: relative;
  bottom: 5px;
}
.main .consult .consult__form .consult__form-flex ::-webkit-input-placeholder {
  color: #000032;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
.main .consult .consult__form .consult__task::after {
  content: "";
  margin-top: 1%;
  display: block;
  height: 1px;
  background: rgba(0, 0, 50, 0.4);
}
.main .consult .consult__form input[type=text]:focus {
  outline: none;
}
.main .consult #task {
  font-size: 16px;
  width: 100%;
  border: transparent;
  color: #000032;
  margin-left: 10px;
  margin-top: 3%;
}
.main .consult .consult__checkbox {
  margin-top: 3%;
}
.main .consult .consult__checkbox input[type=checkbox] {
  display: none;
}
.main .consult .consult__checkbox label {
  color: #000032;
  cursor: pointer;
  font-weight: normal;
  line-height: 30px;
  font-size: 16px;
  padding: 10px 0;
}
.main .consult .consult__checkbox label:before {
  content: " ";
  color: #000;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #e3e3e3;
  vertical-align: middle;
}
.main .consult .consult__checkbox input:checked + label:before {
  content: "";
  background: linear-gradient(112.73deg, #a202ff 1.67%, #000fda 100%);
  background-image: url(../../images/imgHeader/checked.png);
  background-repeat: no-repeat;
}
.main .consult .consult__checkbox .agree__link {
  color: #000032;
  cursor: pointer;
}
.main .consult .consult__send {
  margin-top: 5%;
  padding: 2% 3%;
  background: linear-gradient(112.73deg, #a202ff 1.67%, #000fda 100%);
  border-radius: 67px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 97%;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.main .consult .consult__send:hover {
  background: linear-gradient(112.73deg, #000fda 1.67%, #a202ff 100%);
}

.consult__footer {
  margin: 0 0 1% 5%;
}
.consult__footer .consult__footer-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
}/*# sourceMappingURL=stylePageConsult.css.map */