@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  padding: 15px 0;
}
.header .header__inner {
  padding: 0 44px;
}
.header .header__inner .header__columns {
  display: flex;
  justify-content: space-between;
  padding-right: 44px;
}
.header .header__inner .header__columns .header__logo-items {
  display: flex;
  justify-content: flex-start;
}
.header .header__inner .header__columns .header__logo-items .header__eng {
  margin-left: 2.563em;
  margin-right: 1.313em;
  align-self: center;
  text-decoration: none;
}
.header .header__inner .header__columns .header__logo-items .header__rus {
  margin-right: 1.313em;
  align-self: center;
  text-decoration: none;
}
.header .header__inner .header__info-items {
  display: flex;
}
.header .header__inner .header__info-items .header__number {
  margin-right: 3em;
  align-self: center;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: "PT Mono", monospace;
}
.header .header__inner .header__info-items .header__consult {
  margin-right: 50px;
  margin-top: 10px;
  padding-right: 93px;
}
.header .header__inner .header__info-items .header__consult .btn {
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  border-radius: 67px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: center;
}
.header .header__inner .header__info-items .header__consult .btn:hover {
  color: #5e1ec6;
}
.header .header__inner .header__info-items #menu__toggle {
  opacity: 0;
}
.header .header__inner .header__info-items .menu__btn {
  display: flex;
  align-items: center;
  width: 36px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .header__inner .header__info-items .menu__image {
  position: relative;
  right: 20px;
  top: 5px;
}
.header .header__inner .header__info-items .menu__btn > span,
.header .header__inner .header__info-items .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 36px;
  height: 2px;
}
.header .header__inner .header__info-items .menu__btn > span::after {
  content: "";
  top: 8px;
  width: 80%;
}
.header .header__inner .header__info-items .menu__box {
  display: flex;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 5em 0;
  list-style: none;
  background-image: url(../../images/imgHeader/news-background.png);
  background-size: cover;
  opacity: 1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.header .header__inner .header__info-items .menu__item {
  display: block;
  padding: 12px 24px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "PT Mono", monospace;
  font-size: 45px;
  font-weight: 600;
  text-decoration: none;
}
.header .header__inner .header__info-items .menu__item sup {
  margin: 20px;
}
.header .header__inner .header__info-items .menu__item .menu__columns {
  background-image: url(/assets/style/imagesHeader/Vector.png);
}
.header .header__inner .header__info-items .menu__item:hover {
  color: #ffffff;
}
.header .header__inner .header__info-items #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.header .header__inner .header__info-items #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
}
.header .header__inner .header__info-items #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.463);
}
.header .header__eng,
.header .header__number {
  color: white;
}
.header .header__rus {
  color: rgba(255, 255, 255, 0.3);
}
.header .btn {
  color: #ffffff;
  border: 1px solid #fff;
}
.header .menu__btn > span,
.header .menu__btn > span::after {
  background-color: white;
}
.header .menu__btn {
  position: fixed;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 115vh 30%;
  grid-template-areas: "augmentedReality" "augmentedReality__advantages";
}
.container .augmentedReality {
  grid-area: augmentedReality;
  font-family: "Lato", sans-serif;
  color: white;
  background-image: url("../../images/imgPageReality/background-first.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.container .augmentedReality .news-inner__go-back {
  padding: 10% 0% 0% 3%;
}
.container .augmentedReality .augmentedReality__title {
  font-size: 3.178vw;
  width: 60%;
  padding: 5% 5% 2% 5%;
}
.container .augmentedReality .augmentedReality__text {
  font-size: 1.039vw;
  width: 43%;
  padding: 0% 5% 5% 5%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 1.493vw;
}
.container .augmentedReality__advantages {
  grid-area: augmentedReality__advantages;
  background-image: url("../../images/imgPageReality/background_second.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  font-family: "Lato", sans-serif;
}
.container .augmentedReality__advantages .augmentedReality__advantages_title {
  font-size: 3.178vw;
  font-weight: normal;
  padding: 10% 10% 0% 20%;
  width: 80%;
}
.container .augmentedReality__advantages .augmentedReality__advantages_columns {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  grid-template-areas: " augmentedReality__advantages_columns_quality augmentedReality__advantages_columns_possibility augmentedReality__advantages_columns_effectivity";
  padding: 5% 10% 0% 10%;
}
.container .augmentedReality__advantages .augmentedReality__advantages_columns .icons {
  max-width: 100%;
  height: auto;
  width: 20%;
}
.container .augmentedReality__advantages .augmentedReality__advantages_columns h3 {
  font-size: 1.3vw;
  padding: 3% 3% 3% 0%;
}
.container .augmentedReality__advantages .augmentedReality__advantages_columns .augmentedReality__advantages_columns_quality {
  grid-area: augmentedReality__advantages_columns_quality;
  font-size: 0.856vw;
  padding: 5%;
}
.container .augmentedReality__advantages .augmentedReality__advantages_columns .augmentedReality__advantages_columns_possibility {
  grid-area: augmentedReality__advantages_columns_possibility;
  font-size: 0.856vw;
  padding: 5%;
}
.container .augmentedReality__advantages .augmentedReality__advantages_columns .augmentedReality__advantages_columns_effectivity {
  grid-area: augmentedReality__advantages_columns_effectivity;
  font-size: 0.856vw;
  padding: 5%;
}
.container .fixedbut {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  border-radius: 67px;
  -webkit-transition: 0.33s all ease-out;
  -o-transition: 0.33s all ease-out;
  transition: 0.33s all ease-out;
}/*# sourceMappingURL=reality.css.map */